@model HomeSeek.Entities.Amenities

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Amenities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place.ApartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.ApartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirConditioning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstAidKit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstAidKit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Elevator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elevator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateΕntrance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateΕntrance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeParking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeParking)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AmenitiesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
