@model HomeSeek.Entities.Place

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amenities.AmenitiesId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amenities.AmenitiesId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CleanCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CleanCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBooked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBooked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
