@model HomeSeek.Entities.Place

@{
    ViewBag.Title = "Details";
}
<!-- listing-carousel-wrap -->
<div class="listing-carousel-wrap fl-wrap" id="sec1">
    <div class="listing-carousel fl-wrap full-height lightgallery">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- swiper-slide-->
                <div class="swiper-slide hov_zoom">
                    <img src="/images/all/1.jpg" alt="">
                    <a href="/images/all/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                </div>
                <!-- swiper-slide end-->
                <!-- swiper-slide-->
                <div class="swiper-slide  hov_zoom">
                    <img src="/images/all/1.jpg" alt="">
                    <a href="/images/all/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                </div>
                <!-- swiper-slide end-->
                <!-- swiper-slide-->
                <div class="swiper-slide  hov_zoom">
                    <img src="/images/all/1.jpg" alt="">
                    <a href="/images/all/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                </div>
                <!-- swiper-slide end-->
                <!-- swiper-slide-->
                <div class="swiper-slide  hov_zoom">
                    <img src="/images/all/1.jpg" alt="">
                    <a href="/images/all/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                </div>
                <!-- swiper-slide end-->
                <!-- swiper-slide-->
                <div class="swiper-slide  hov_zoom">
                    <img src="/images/all/1.jpg" alt="">
                    <a href="/images/all/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                </div>
                <!-- swiper-slide end-->
            </div>
        </div>
    </div>
    <div class="listing-carousel_pagination">
        <div class="listing-carousel_pagination-wrap"></div>
    </div>
    <div class="listing-carousel-button listing-carousel-button-next"><i class="fas fa-caret-right"></i></div>
    <div class="listing-carousel-button listing-carousel-button-prev"><i class="fas fa-caret-left"></i></div>
</div>
<!-- listing-carousel-wrap end-->
<!-- scroll-nav-wrapper-->
<div class="scroll-nav-wrapper fl-wrap">
    <div class="container">
        <nav class="scroll-nav scroll-init">
            <ul class="no-list-style">
                <li><a class="act-scrlink" href="#sec1"><i class="fal fa-images"></i> Gallery</a></li>
                <li><a href="#sec2"><i class="fal fa-info"></i>Details</a></li>
                <li><a href="#sec5"><i class="fal fa-comments-alt"></i>Reviews</a></li>
            </ul>
        </nav>

    </div>
</div>
<!-- scroll-nav-wrapper end-->
<section class="gray-bg no-top-padding">
    <div class="container">

        <div class="clearfix"></div>
        <div class="row">
            <!-- list-single-main-wrapper-col -->
            <div class="col-md-8">
                <!-- list-single-main-wrapper -->
                <div class="list-single-main-wrapper fl-wrap" id="sec2">
                    <!-- list-single-header -->
                    <div class="list-single-header list-single-header-inside block_box fl-wrap">
                        <div class="list-single-header-item  fl-wrap">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1>@Html.DisplayFor(model => model.ApartmentName) <span class="verified-badge"><i class="fal fa-check"></i></span></h1>
                                    <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> @Html.DisplayFor(model => model.Address.AddressLine)  @Html.DisplayFor(model => model.Address.City) </a> <a href="#"> <i class="fal fa-phone"></i>+38099231212</a> <a href="#"><i class="fal fa-envelope"></i> yourmail@domain.com</a></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="fl-wrap list-single-header-column  block_box">
                                        <div class="listing-rating-count-wrap single-list-count">
                                            <div class="review-score">
                                                @{

                                                    double avg = 0;
                                                    foreach (var review in Model.Reviews)
                                                    {
                                                        avg += review.OverallRating;
                                                    }
                                                    avg = avg / Model.Reviews.Count();
                                                    @avg
                                                }
                                            </div>
                                            <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                            <br>
                                            <div class="reviews-count">
                                                @if (@Model.Reviews.Count() > 1)
                                                {
                                                    @Model.Reviews.Count()<span> Reviews</span>
                                                }
                                                else
                                                {
                                                    @Model.Reviews.Count() <span> Review</span>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-single-header_bottom fl-wrap">
                            <a class="listing-item-category-wrap" href="#">
                                <div class="listing-item-category  blue-bg"><i class="fal fa-bed"></i></div>
                                <span>Hotels</span>
                            </a>
                            <div class="list-single-author"> <a href="author-single.html"><span class="author_avatar"> <img alt='' src='/images/avatar/1.jpg'>  </span>By  Alisa Noory</a></div>
                           
                        </div>
                    </div>
                    <!-- list-single-header end -->
                    <!-- list-single-facts -->
                    <div class="list-single-facts fl-wrap">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- inline-facts -->
                                <div class="inline-facts-wrap gradient-bg ">
                                    <div class="inline-facts">
                                        <i class="fal fa-bed"></i>
                                        <div class="milestone-counter">
                                            <div class="stats animaper">
                                                <div class="num" data-content="0" data-num="@Model.Bedroom">0</div>
                                            </div>
                                        </div>
                                        <h6>Room Bedrooms</h6>
                                    </div>
                                    <div class="stat-wave">
                                        <svg viewbox="0 0 100 25">
                                            <path fill="#fff" d="M0 30 V12 Q30 17 55 2 T100 11 V30z" />
                                        </svg>
                                    </div>
                                </div>
                                <!-- inline-facts end -->
                            </div>
                            <div class="col-md-4">
                                <!-- inline-facts  -->
                                <div class="inline-facts-wrap gradient-bg ">
                                    <div class="inline-facts">
                                        <i class="fal fa-bath"></i>
                                        <div class="milestone-counter">
                                            <div class="stats animaper">
                                                <div class="num" data-content="0" data-num="@Model.Bathroom">0</div>
                                            </div>
                                        </div>
                                        <h6>Room Bathrooms</h6>
                                    </div>
                                    <div class="stat-wave">
                                        <svg viewbox="0 0 100 25">
                                            <path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
                                        </svg>
                                    </div>
                                </div>
                                <!-- inline-facts end -->
                            </div>
                            <div class="col-md-4">
                                <!-- inline-facts  -->
                                <div class="inline-facts-wrap gradient-bg ">
                                    <div class="inline-facts">
                                        <i class="fal fa-users"></i>
                                        <div class="milestone-counter">
                                            <div class="stats animaper">
                                                <div class="num" data-content="0" data-num="@Model.Guests">0</div>
                                            </div>
                                        </div>
                                        <h6>Room Guests</h6>
                                    </div>
                                    <div class="stat-wave">
                                        <svg viewbox="0 0 100 25">
                                            <path fill="#fff" d="M0 30 V12 Q30 12 55 5 T100 11 V30z" />
                                        </svg>
                                    </div>
                                </div>
                                <!-- inline-facts end -->
                            </div>
                        </div>
                    </div>
                    <!-- list-single-facts end -->
                    <!-- list-single-main-item -->
                    <div class="list-single-main-item fl-wrap block_box">
                        <div class="list-single-main-item-title">
                            <h3>Description</h3>
                        </div>
                        <div class="list-single-main-item_content fl-wrap">
                            <p>@Html.DisplayFor(model => model.Description) </p>
                            <a href="#" class="btn color2-bg float-btn">Visit Website<i class="fal fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <!-- list-single-main-item end -->
                    <!-- list-single-main-item -->
                    <div class="list-single-main-item fl-wrap block_box">
                        <div class="list-single-main-item-title">
                            <h3>Listing Features</h3>
                        </div>
                        <div class="list-single-main-item_content fl-wrap checked-amenities">
                            <div class="listing-features fl-wrap">
                                <ul class="no-list-style">
                                    <li><a href="#"><i class="fal fa-parking"></i></i>Elevator @Html.DisplayFor(model => model.Amenities.Elevator)</a></li>
                                    <li><a href="#"><i class="fa fa-wifi"></i>Wifi @Html.DisplayFor(model => model.Amenities.Wifi)</a></li>
                                    <li><a href="#"><i class="fa fa-motorcycle"></i>Free Parking @Html.DisplayFor(model => model.Amenities.FreeParking)</a></li>
                                    <li><a href="#"><i class="fal fa-cloud"></i>Air Conditioned @Html.DisplayFor(model => model.Amenities.AirConditioning)</a></li>
                                    <li><a href="#"><i class="fal fa-first-aid"></i>First Aid Kit @Html.DisplayFor(model => model.Amenities.FirstAidKit)</a></li>
                                    <li><a href="#"><i class="fal fa-temperature-hot"></i>Heating @Html.DisplayFor(model => model.Amenities.Heating)</a></li>
                                    <li><a href="#"><i class="fal fa-hot-tub"></i>Hot Water @Html.DisplayFor(model => model.Amenities.HotWater)</a></li>
                                    <li><a href="#"><i class="fal fa-door-closed"></i>Private Entrance @Html.DisplayFor(model => model.Amenities.PrivateΕntrance)</a></li>
                                    <li><a href="#"><i class="fal fa-tv"></i>TV @Html.DisplayFor(model => model.Amenities.Tv)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- list-single-main-item end -->
                    <!-- list-single-main-item -->
                    <div class="list-single-main-item fl-wrap block_box" id="sec5">
                        <div class="list-single-main-item-title">

                            <h3>Item Reviews -  <span> @Model.Reviews.Count(); </span></h3>
                        </div>
                        <!--reviews-score-wrap-->

                          

                        <div class="reviews-score-wrap fl-wrap">
                            <div class="review-score-total">
                                <span class="review-score-total-item">
                                    @{

                                        avg = 0;
                                        foreach (var review in Model.Reviews)
                                        {
                                            avg += review.OverallRating;
                                        }
                                        avg = avg / Model.Reviews.Count();
                                        @avg
                                    }
                                </span>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                            </div>
                            <div class="review-score-detail">
                                <!-- review-score-detail-list-->
                                <div class="review-score-detail-list">
                                    <!-- rate item-->
                                    <div class="rate-item">
                                        <div class="rate-item-title"><span>Accuracy</span></div>
                                        <div class="rate-item-bg" data-percent="100%">
                                            <div class="rate-item-line gradient-bg"></div>
                                        </div>
                                        <div class="rate-item-percent">
                                            @{

                                                avg = 0;
                                                foreach (var review in Model.Reviews)
                                                {
                                                    avg += review.Accuracy;
                                                }
                                                avg = avg / Model.Reviews.Count();
                                                @avg
                                            }
                                        </div>
                                    </div>
                                    <!-- rate item end-->
                                    <!-- rate item-->
                                    <div class="rate-item">
                                        <div class="rate-item-title"><span>Cleanliness</span></div>
                                        <div class="rate-item-bg" data-percent="@(avg*20)%">
                                            <div class="rate-item-line gradient-bg"></div>
                                        </div>
                                        <div class="rate-item-percent">
                                            @{

                                                avg = 0;
                                                foreach (var review in Model.Reviews)
                                                {
                                                    avg += review.Cleanliness;
                                                }
                                                avg = avg / Model.Reviews.Count();
                                                @avg
                                            }
                                        </div>
                                    </div>
                                    <!-- rate item end-->
                                    <!-- rate item-->
                                    <div class="rate-item">
                                        <div class="rate-item-title"><span>Location</span></div>
                                        <div class="rate-item-bg" data-percent="80%"> @*"@(avg*20)%"*@
                                            <div class="rate-item-line gradient-bg"></div>
                                        </div>
                                        <div class="rate-item-percent">
                                            @{

                                                avg = 0;
                                                foreach (var review in Model.Reviews)
                                                {
                                                    avg += review.Location;
                                                }
                                                avg = avg / Model.Reviews.Count();
                                                @avg
                                            }
                                        </div>
                                    </div>
                                    <!-- rate item end-->
                                    <!-- rate item-->
                                    <div class="rate-item">
                                        <div class="rate-item-title"><span>Value</span></div>
                                        <div class="rate-item-bg" data-percent="90%">
                                            <div class="rate-item-line gradient-bg"></div>
                                        </div>
                                        <div class="rate-item-percent">
                                            @{

                                                avg = 0;
                                                foreach (var review in Model.Reviews)
                                                {
                                                    avg += review.Value;
                                                }
                                                avg = avg / Model.Reviews.Count();
                                                @avg
                                            }
                                        </div>
                                    </div>
                                    <!-- rate item end-->
                                </div>
                                <!-- review-score-detail-list end-->
                            </div>
                        </div>
                        <!-- reviews-score-wrap end -->
                        <div class="list-single-main-item_content fl-wrap">
                            <div class="reviews-comments-wrap">
                                <!-- reviews-comments-item -->
                                @foreach (var item in Model.Reviews)
                                {
                                    <div class="reviews-comments-item">
                                        <div class="review-comments-avatar">
                                            <img src="/images/avatar/1.jpg" alt="">
                                        </div>
                                        <div class="reviews-comments-item-text fl-wrap">
                                            <div class="reviews-comments-header fl-wrap">
                                                <h4><a href="#"></a></h4>
                                                <div class="review-score-user">
                                                    <span class="review-score-user_item">@item.OverallRating</span>
                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                                </div>
                                            </div>
                                            <p>@item.Comment</p>
                                            <div class="reviews-comments-item-footer fl-wrap">
                                                <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 April 2018</span></div>
                                                <a href="#" class="rate-review"><i class="fal fa-thumbs-up"></i>  Helpful Review  <span>2</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                }


                                <!--reviews-comments-item end-->
                                <!-- reviews-comments-item -->
                                @*<div class="reviews-comments-item">
                                        <div class="review-comments-avatar">
                                            <img src="/images/avatar/1.jpg" alt="">
                                        </div>
                                        <div class="reviews-comments-item-text fl-wrap">
                                            <div class="reviews-comments-header fl-wrap">
                                                <h4><a href="#">Adam Koncy</a></h4>
                                                <div class="review-score-user">
                                                    <span class="review-score-user_item">5.0</span>
                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                                </div>
                                            </div>
                                            <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere convallis purus non cursus. Cras metus neque, gravida sodales massa ut. "</p>
                                            <div class="review-images ">
                                                <a href="/images/all/1.jpg" class="image-popup"><img src="/images/all/1.jpg" alt=""></a>
                                                <a href="/images/all/1.jpg" class="image-popup"><img src="/images/all/1.jpg" alt=""></a>
                                            </div>
                                            <div class="reviews-comments-item-footer fl-wrap">
                                                <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>03 December 2017</span></div>
                                                <a href="#" class="rate-review"><i class="fal fa-thumbs-up"></i>  Helpful Review  <span>4</span> </a>
                                            </div>
                                        </div>
                                    </div>*@

                                <!--reviews-comments-item end-->
                            </div>
                        </div>
                    </div>
                    <!-- list-single-main-item end -->
                    <!-- list-single-main-item -->
                    <div class="list-single-main-item fl-wrap block_box" id="sec6">
                        <div class="list-single-main-item-title fl-wrap">
                            <h3>Add Review</h3>
                        </div>
                        <!-- Add Review Box -->
                        <div id="add-review" class="add-review-box">
                            <!-- Review Comment -->
                            <form id="add-comment" class="add-comment  custom-form" name="rangeCalc">
                                <fieldset>
                                    <div class="review-score-form fl-wrap">
                                        <div class="review-range-container">
                                            <!-- review-range-item-->
                                            <div class="review-range-item">
                                                <div class="range-slider-title">Cleanliness</div>
                                                <div class="range-slider-wrap ">
                                                    <input type="text" class="rate-range" data-min="0" data-max="5" name="rgcl" data-step="1" value="4">
                                                </div>
                                            </div>
                                            <!-- review-range-item end -->
                                            <!-- review-range-item-->
                                            <div class="review-range-item">
                                                <div class="range-slider-title">Comfort</div>
                                                <div class="range-slider-wrap ">
                                                    <input type="text" class="rate-range" data-min="0" data-max="5" name="rgcl" data-step="1" value="1">
                                                </div>
                                            </div>
                                            <!-- review-range-item end -->
                                            <!-- review-range-item-->
                                            <div class="review-range-item">
                                                <div class="range-slider-title">Staf</div>
                                                <div class="range-slider-wrap ">
                                                    <input type="text" class="rate-range" data-min="0" data-max="5" name="rgcl" data-step="1" value="5">
                                                </div>
                                            </div>
                                            <!-- review-range-item end -->
                                            <!-- review-range-item-->
                                            <div class="review-range-item">
                                                <div class="range-slider-title">Facilities</div>
                                                <div class="range-slider-wrap">
                                                    <input type="text" class="rate-range" data-min="0" data-max="5" name="rgcl" data-step="1" value="3">
                                                </div>
                                            </div>
                                            <!-- review-range-item end -->
                                        </div>
                                        <div class="review-total">
                                            <span><input type="text" name="rg_total" data-form="AVG({rgcl})" value="0"></span>
                                            <strong>Your Score</strong>
                                        </div>
                                    </div>
                                    <div class="list-single-main-item_content fl-wrap">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><i class="fal fa-user"></i></label>
                                                <input type="text" placeholder="Your Name *" value="" />
                                            </div>
                                            <div class="col-md-6">
                                                <label><i class="fal fa-envelope"></i>  </label>
                                                <input type="text" placeholder="Email Address*" value="" />
                                            </div>
                                        </div>
                                        <textarea cols="40" rows="3" placeholder="Your Review:"></textarea>
                                        <div class="clearfix"></div>
                                        <div class="photoUpload">
                                            <span><i class="fal fa-image"></i> <strong>Add Photos</strong></span>
                                            <input type="file" class="upload" multiple>
                                        </div>
                                        <div class="clearfix"></div>
                                        <button class="btn  color2-bg float-btn">Submit Review <i class="fal fa-paper-plane"></i></button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- Add Review Box / End -->
                    </div>
                    <!-- list-single-main-item end -->
                </div>
            </div>
            <!-- list-single-main-wrapper-col end -->
            <!-- list-single-sidebar -->
            <div class="col-md-4">
                <!--box-widget-item -->
                <div class="box-widget-item fl-wrap block_box">
                    <div class="box-widget-item-header">
                        <h3>Book a Reservation </h3>
                    </div>
                    <div class="box-widget">
                        <div class="box-widget-content">
                            <form class="add-comment custom-form">
                                <fieldset>
                                    <div class="quantity fl-wrap">
                                        <span><i class="fal fa-user-plus"></i>Persons : </span>
                                        <div class="quantity-item">
                                            <input type="button" value="-" class="minus">
                                            <input type="text" name="quantity" title="Qty" class="qty color-bg" data-min="1" data-max="3" data-step="1" value="1">
                                            <input type="button" value="+" class="plus">
                                        </div>
                                    </div>

                                    <div class="listsearch-input-item clact date-container3 daterangepicker_big">
                                        <label><i class="fal fa-calendar"></i></label>
                                        <input type="text" placeholder="Date In Out" name="dates" value="" />
                                        <span class="clear-singleinput"><i class="fal fa-times"></i></span>
                                    </div>
                                    <div class="claim-price-wdget-content fl-wrap">
                                        <div class="pricerange fl-wrap"><span>Price : </span> @Model.PricePerDay €</div>
                                        <div class="pricerange fl-wrap"><span>Clean Cost : </span> @Model.CleanCost €</div>
                                        <div class="claim-widget-link fl-wrap"><span>Own or work here?</span><a href="#">Claim Now!</a></div>
                                    </div>

                                </fieldset>
                                <button class="btn color2-bg url_btn float-btn" onclick="window.location.href='booking.html'">Book Room Now <i class="fal fa-bookmark"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--box-widget-item end -->
                <!--box-widget-item -->
                <div class="box-widget-item fl-wrap block_box">
                    <div class="box-widget-item-header">
                        <h3>Location / Contacts  </h3>
                    </div>
                    <div class="box-widget">
                        <div class="map-container">
                            <div id="singleMap" data-latitude="38.1046381" data-longitude="23.8221748" data-mapTitle="Our Location"></div>
                        </div>
                        <div class="box-widget-content bwc-nopad">
                            <div class="list-author-widget-contacts list-item-widget-contacts bwc-padside">
                                <ul class="no-list-style">
                                    <li><span><i class="fal fa-map-marker"></i> Adress :</span> <a href="#">USA 27TH Brooklyn NY</a></li>
                                    <li><span><i class="fal fa-phone"></i> Phone :</span> <a href="#">+7(123)987654</a></li>
                                    <li><span><i class="fal fa-envelope"></i> Mail :</span> <a href="#">AlisaNoory@domain.com</a></li>
                                    <li><span><i class="fal fa-browser"></i> Website :</span> <a href="#">themeforest.net</a></li>
                                </ul>
                            </div>
                            <div class="list-widget-social bottom-bcw-box  fl-wrap">
                                <ul class="no-list-style">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <div class="bottom-bcw-box_link"><a href="#" class="show-single-contactform tolt" data-microtip-position="top" data-tooltip="Write Message"><i class="fal fa-envelope"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--box-widget-item end -->
                <!--box-widget-item -->
                <div class="box-widget-item fl-wrap block_box">
                    <div class="box-widget-item-header">
                        <h3>Hosted by : </h3>
                    </div>
                    <div class="box-widget">
                        <div class="box-widget-author fl-wrap">
                            <div class="box-widget-author-title">
                                <div class="box-widget-author-title-img">
                                    <img src="/images/avatar/1.jpg" alt="">
                                </div>
                                <div class="box-widget-author-title_content">
                                    <a href="user-single.html">Alisa Noory</a>
                                    <span>4 Places Hosted</span>
                                </div>
                                <div class="box-widget-author-title_opt">
                                    <a href="user-single.html" class="tolt green-bg" data-microtip-position="top" data-tooltip="View Profile"><i class="fas fa-user"></i></a>
                                    <a href="#" class="tolt color-bg cwb" data-microtip-position="top" data-tooltip="Chat With Owner"><i class="fas fa-comments-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--box-widget-item end -->
            </div>
            <!-- list-single-sidebar end -->
        </div>
    </div>
</section>
<div class="limit-box fl-wrap"></div>



@*<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amenities.AmenitiesId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amenities.AmenitiesId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CleanCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CleanCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBooked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBooked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
