@model PagedList.IPagedList<HomeSeek.Entities.Place>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Places";
}


<div class="map-container column-map right-pos-map no-fix-scroll-map hid-mob-map">
    <div id="map-main"></div>
    <ul class="mapnavigation no-list-style">
        <li><a href="#" class="prevmap-nav mapnavbtn"><span><i class="fas fa-caret-left"></i></span></a></li>
        <li><a href="#" class="nextmap-nav mapnavbtn"><span><i class="fas fa-caret-right"></i></span></a></li>
    </ul>
    <div class="scrollContorl mapnavbtn tolt" data-microtip-position="top-left" data-tooltip="Enable Scrolling"><span><i class="fal fa-unlock"></i></span></div>
    <div class="location-btn geoLocation tolt" data-microtip-position="top-left" data-tooltip="Your location"><span><i class="fal fa-location"></i></span></div>
    <div class="map-overlay"></div>
    <div class="map-close"><i class="fas fa-times"></i></div>
</div>
<!-- Map end -->
<!-- hidden-search-column-->
<div class="hidden-search-column">
    @using (Html.BeginForm("Index", "Places", FormMethod.Get))
    {
        <div class="hidden-search-column-container fl-wrap full-height tabs-act">
            <div class="filter-sidebar-header fl-wrap">
                <ul class="tabs-menu fl-wrap no-list-style">
                    <li class="current"><a href="#filters-search"> <i class="fal fa-sliders-h"></i> Filters </a></li>
                </ul>
            </div>
            <div class="scrl-content filter-sidebar  full-height">
                <!--tabs -->
                <div class="tabs-container fl-wrap">
                    <!--tab -->
                    <div class="tab">
                        <div id="filters-search" class="tab-content  first-tab ">
                            <!-- listsearch-input-item-->
                            <div class="listsearch-input-item">
                                @Html.TextBox("searchtitle", null, new { value = "", type = "text", placeholder = "What are you looking for?", id = "autocompleteid", @class = "autocomplete-input" })
                                <span class="iconn-dec"><i class="far fa-bookmark"></i></span>
                            </div>
                            <!-- listsearch-input-item end-->
                            <!-- listsearch-input-item-->
                            @*<div class="listsearch-input-item">
            <select data-placeholder="City/Location" class="chosen-select no-search-select">
                 <option>All Cities</option>
                 <option>New York</option>
                 <option>Chicago</option>
                 <option>Los Angeles</option>
                 <option>Washington</option>
                 <option>Boston</option>
             </select>
        </div>*@
                            <!-- listsearch-input-item end-->
                            <!-- listsearch-input-item-->
                            <div class="listsearch-input-item location autocomplete-container">
                                @Html.TextBox("searchcity", null, new { value = "", type = "text", placeholder = "Where to look?", id = "autocompleteid1", @class = "autocomplete-input" })
                                <span class="iconn-dec"><i class="far fa-map-marker"></i></span>
                                @* <a href="#"><i class="fal fa-location"></i></a>*@
                            </div>
                            <!-- listsearch-input-item end-->
                            <!-- listsearch-input-item-->
                            <div class="listsearch-input-item clact date-container">
                                <input type="text" id="datepicker" placeholder="Event Date" name="datepicker-here" value="" />
                                <span class="iconn-dec"><i class="fal fa-calendar"></i></span>
                                @*<span class="clear-singleinput"><i class="fal fa-times"></i></span>*@
                            </div>
                            <!-- listsearch-input-item end-->
                            <!-- listsearch-input-item-->
                            <div class="listsearch-input-item price autocomplete-container">
                                @Html.TextBox("searchminprice", null, new { value = "", type = "text", placeholder = "Lowest price", id = "autocompleteid2", @class = "autocomplete-input" })
                                <span class="iconn-dec"><i class="fal fa-hand-holding-usd"></i></span>
                                @* <a href="#"><i class="fal fa-location"></i></a>*@
                            </div>
                            <!-- listsearch-input-item end-->
                            <!-- listsearch-input-item-->
                            <div class="listsearch-input-item price autocomplete-container">
                                @Html.TextBox("searchmaxprice", null, new { value = "", type = "text", placeholder = "Highest price", id = "autocompleteid3", @class = "autocomplete-input" })
                                <span class="iconn-dec"><i class="fal fa-hand-holding-usd"></i></span>
                                @* <a href="#"><i class="fal fa-location"></i></a>*@
                            </div>
                            @{
                                string str = ViewBag.CurrentSortOrder;
                                Html.TextBox("sortOrder", str, new { type = "hidden" });
                            }
                            @{
                                SelectListItem a1 = new SelectListItem() { Text = "4", Value = "4" };
                                SelectListItem a2 = new SelectListItem() { Text = "8", Value = "8" };
                                SelectListItem a3 = new SelectListItem() { Text = "16", Value = "16" };
                                SelectListItem a4 = new SelectListItem() { Text = "50", Value = "50" };
                                List<SelectListItem> items = new List<SelectListItem>() { a1, a2, a3, a4 };
                            }

                            <div class="col-4 mt-4">
                                <p>@Html.Label("Item/Pages", new { @for = "pSize", @class = "" })</p>
                                @Html.DropDownList("pSize", items, new { @id = "sizedropdown", @class = "btn btn-light bg-white text-muted" })
                            </div>
                            @{
                                SelectListItem s1 = new SelectListItem() { Text = "Alphabetically", Value = "TitleAsc" };
                                SelectListItem s2 = new SelectListItem() { Text = "Price: Low to High", Value = "PriceAsc" };
                                SelectListItem s3 = new SelectListItem() { Text = "Price: High to Low", Value = "PriceDesc" };
                                List<SelectListItem> sortOrders = new List<SelectListItem>() { s1, s2, s3 };
                            }
                            <div class="col-4 mt-4">
                                <p>@Html.Label("Sort By", new { @for = "sortOrder", @class = "" })</p>
                                @Html.DropDownList("sortOrder", sortOrders, new { @id = "sortdropdown", @class = "btn btn-light bg-white text-muted" })
                            </div>
                            <!-- listsearch-input-item end-->
                            <!-- listsearch-input-item-->
                            @*<div class="listsearch-input-item">
            <div class="price-rage-wrap fl-wrap">
                <div class="price-rage-wrap-title"><i class="fal fa-hand-holding-usd"></i> Price :</div>
                <div class="price-rage-item fl-wrap">
                    <input type="text" class="price-range" data-min="0" data-max="200" name="price-range1" data-step="10" value="$$">
                </div>
            </div>
        </div>*@
                            <!-- listsearch-input-item end-->
                            <!-- listsearch-input-item-->
                            @*<div class="listsearch-input-item clact">
            <div class=" fl-wrap filter-tags">
                <ul class="no-list-style">
                    <li>
                        <input id="check-aa" type="checkbox" name="check">
                        <label for="check-aa">Elevator in building</label>
                    </li>
                    <li>
                        <input id="check-b" type="checkbox" name="check">
                        <label for="check-b">Friendly workspace</label>
                    </li>
                    <li>
                        <input id="check-c" type="checkbox" name="check" checked>
                        <label for="check-c">Instant Book</label>
                    </li>
                    <li>
                        <input id="check-d" type="checkbox" name="check">
                        <label for="check-d">Wireless Internet</label>
                    </li>
                    <li>
                        <input id="check-d2" type="checkbox" name="check" checked>
                        <label for="check-d2">Free WiFi</label>
                    </li>
                    <li>
                        <input id="check-d3" type="checkbox" name="check" checked>
                        <label for="check-d3">Free Parking</label>
                    </li>
                    <li>
                        <input id="check-d4" type="checkbox" name="check">
                        <label for="check-d4">Smoking Allowed</label>
                    </li>
                </ul>
            </div>
        </div>*@
                            <!-- listsearch-input-item end-->
                            <!-- listsearch-input-item-->
                            <div class="listsearch-input-item">
                                <button class="header-search-button color-bg" onclick="window.location.href='listing.html'"><i class="far fa-search"></i><span>Search</span></button>
                            </div>
                            <!-- listsearch-input-item end-->
                            <div class="clear-filter-btn"><i class="far fa-redo"></i> Reset Filters</div>
                        </div>
                    </div>
                    <!--tab end-->
                </div>
                <!--tabs end-->
            </div>
        </div>
        <div class="close_sbfilters"><i class="fal fa-long-arrow-right"></i></div>
    }
</div>
<!-- hidden-search-column end-->
<div class="col-list-wrap anim_clw  ">
    <!-- list-main-wrap-header-->
    <div class="list-main-wrap-header fl-wrap anim_clw  ">
        <div class="container">
            <!-- list-main-wrap-title-->
            <div class="list-main-wrap-title">
                <h2><span>All Places</span></h2>
            </div>
            <!-- list-main-wrap-opt-->
            <div class="list-main-wrap-opt">
                <!-- price-opt-->
                <div class="price-opt">
                    <span class="price-opt-title">Sort   by:</span>
                    <div class="listsearch-input-item">
                        <select data-placeholder="Popularity" class="chosen-select no-search-select">
                            <option>Popularity</option>
                            <option>Average rating</option>
                            <option>Price: low to high</option>
                            <option>Price: high to low</option>
                        </select>
                    </div>
                </div>
                <!-- price-opt end-->
                <!-- price-opt-->
                <div class="grid-opt">
                    <ul class="no-list-style">
                        <li class="grid-opt_act"><span class="two-col-grid act-grid-opt tolt" data-microtip-position="bottom" data-tooltip="Grid View"><i class="fal fa-th"></i></span></li>
                        <li class="grid-opt_act"><span class="one-col-grid tolt" data-microtip-position="bottom" data-tooltip="List View"><i class="fal fa-list"></i></span></li>
                    </ul>
                </div>
                <!-- price-opt end-->
                <div class="show-hidden-sb shsb_btn shsb_btn_act"><i class="fal fa-sliders-h"></i> <span>Show Filters</span></div>
            </div>
            <!-- list-main-wrap-opt end-->
        </div>
        <a class="custom-scroll-link back-to-filters clbtg" href="#lisfw"><i class="fas fa-caret-up"></i></a>
    </div>




    <!-- list-main-wrap-header end-->

    <div class="clearfix"></div>
    <div class="container">
        <div class="mob-nav-content-btn mncb_half color2-bg shsb_btn shsb_btn_act fl-wrap"><i class="fal fa-filter"></i>  Filters</div>
        <div class="mob-nav-content-btn mncb_half color2-bg schm  fl-wrap"><i class="fal fa-map-marker-alt"></i>  View on map</div>
    </div>
    <div class="clearfix"></div>
    <!--section  -->
    <!-- listing-item-container -->
    <div class="listing-item-container init-grid-items fl-wrap" id="lisfw">
        <div class="container">
            @foreach (var place in Model)
            {
                <!-- listing-item  -->
                <div class="listing-item">
                    <article class="geodir-category-listing fl-wrap">
                        <div class="geodir-category-img">
                            <div class="geodir-js-favorite_btn"><i class="fal fa-heart"></i><span>Save</span></div>
                            
                            
                            <a href="/places/details/@place.PlaceId" class="geodir-category-img-wrap fl-wrap">
                                <img src="@place.Photos.Select(x => x.PhotoUrl).First()" alt="" />
                            </a>

                            <div class="geodir-category-opt">
                                <div class="listing-rating-count-wrap">
                                    <div class="review-score">@(Math.Round((place.Reviews.Select(x => x.OverallRating).FirstOrDefault()), 1).ToString("0.0"))</div>
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="@(Math.Round((place.Reviews.Select(x => x.OverallRating).FirstOrDefault()),0))"></div>
                                    <br>
                                    <div class="reviews-count">@place.Reviews.Count reviews</div>
                                </div>
                            </div>
                        </div>
                        <div class="geodir-category-content fl-wrap">
                            <div class="geodir-category-content-title fl-wrap">
                                <div class="geodir-category-content-title-item">
                                    <h3 class="title-sin_map">@Html.ActionLink(place.ApartmentName, "Details", new { id = place.PlaceId }) <span class="verified-badge"><i class="fal fa-check"></i></span></h3>
                                    <div class="geodir-category-location fl-wrap"><a href="#4" class="map-item"><i class="fas fa-map-marker-alt"></i>  @place.Address.AddressName @place.Address.City</a></div>
                                </div>
                            </div>
                            <div class="geodir-category-text fl-wrap">
                                <p class="small-text">@place.Description</p>
                                <div class="facilities-list fl-wrap">
                                    <div class="facilities-list-title">Facilities : </div>
                                    <ul class="no-list-style">
                                        <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi"><i class="fal fa-wifi"></i></li>
                                        <li class="tolt" data-microtip-position="top" data-tooltip="Parking"><i class="fal fa-parking"></i></li>
                                        <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms"><i class="fal fa-smoking-ban"></i></li>
                                        <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly"><i class="fal fa-dog-leashed"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="geodir-category-footer fl-wrap">
                                <a class="listing-item-category-wrap">
                                    <div class="listing-item-category  yellow-bg"><i class="fal fa-bed"></i></div>
                                    <span></span>
                                </a>
                                <div class="geodir-opt-list">
                                    <ul class="no-list-style">
                                        <li><a href="#4" class="map-item"><i class="fal fa-map-marker-alt"></i><span class="geodir-opt-tooltip">On the map <strong>4</strong></span></a></li>
                                        <li>
                                            <div class="dynamic-gal gdop-list-link" data-dynamicPath="[ {'src': '@place.Photos.Select(x => x.PhotoUrl).First()'},{'src': '@place.Photos.Select(x => x.PhotoUrl).Last()'}]"><i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="price-level geodir-category_price">
                                    <span class="price-level-item" data-pricerating="@(Math.Round((place.PricePerDay/20),0))"></span>
                                    <span class="price-name-tooltip">@(Math.Round((place.PricePerDay/20),0))</span>
                                </div>

                            </div>
                        </div>
                    </article>
                </div>
                <!-- listing-item end -->
            }
            <!--  list-main-wrap-pagination-->
            @*@{
                SelectListItem a1 = new SelectListItem() { Text = "4", Value = "4" };
                SelectListItem a2 = new SelectListItem() { Text = "8", Value = "8" };
                SelectListItem a3 = new SelectListItem() { Text = "16", Value = "16" };
                SelectListItem a4 = new SelectListItem() { Text = "50", Value = "50" };
                List<SelectListItem> items = new List<SelectListItem>() { a1, a2, a3, a4 };
            }*@
            <div class="row">
                <div class="pagination center-block col-8">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, x => @Url.Action("Index", "Places", new { page = x, sortOrder = ViewBag.CurrentSortOrder, searchtitle = ViewBag.CurrentTitle, searchcity = ViewBag.CurrentCity, searchdate = ViewBag.CurrentDate, searchprice = ViewBag.CurrentPrice, pSize = ViewBag.CurrentpSize }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
                @*<div class="col-4 mt-4">
                    <p>@Html.Label("Item/Pages", new { @for = "pSize", @class = "" })</p>
                    @Html.DropDownList("pSize", items, new { @class = "btn btn-light bg-white text-muted" })
                </div>*@
            </div>
        </div>
    </div>
<!-- listing-item-container end -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpoOQ4gRShj82EFsLYWPjQLMoXYqAHqtY&libraries=places&callback=initAutocomplete"></script>

