@model IEnumerable<HomeSeek.Entities.Place>

@{
    ViewBag.Title = "Places";
}

<h2>Places</h2>


<!--section  -->
<section>
    <div class="container big-container">
        <div class="section-title">
            <h2><span>Most Popular Palces</span></h2>
            <div class="section-subtitle">Best Listings</div>
            <span class="section-separator"></span>
            <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
        </div>
        <div class="listing-filters gallery-filters fl-wrap">
            <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">All Categories</a>
            <a href="#" class="gallery-filter" data-filter=".restaurant">Restaurants </a>
            <a href="#" class="gallery-filter" data-filter=".hotels">Hotels</a>
            <a href="#" class="gallery-filter" data-filter=".events">Events</a>
            <a href="#" class="gallery-filter" data-filter=".fitness">Fitness</a>
        </div>
        <div class="grid-item-holder gallery-items fl-wrap">
            @foreach (var place in Model)
            {
                <!-- gallery-item  -->
                <div class="gallery-item hotels">
                    <!-- listing-item  -->
                    <div class="listing-item">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img">
                                <div class="geodir-js-favorite_btn"><i class="fal fa-heart"></i><span>Save</span></div>
                                <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                                    <img src="images/all/1.jpg" alt="">
                                </a>
                                <div class="listing-avatar">
                                    <a href="author-single.html"><img src="images/avatar/1.jpg" alt=""></a>
                                    <span class="avatar-tooltip">Added By  <strong>Kliff Antony</strong></span>
                                </div>
                                <div class="geodir_status_date gsd_open"><i class="fal fa-lock-open"></i>Open Now</div>
                                <div class="geodir-category-opt">
                                    <div class="listing-rating-count-wrap">
                                        <div class="review-score">5.0</div>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                        <br>
                                        <div class="reviews-count">@place.Reviews.Count()</div>
                                    </div>
                                </div>
                            </div>
                            <div class="geodir-category-content fl-wrap title-sin_item">
                                <div class="geodir-category-content-title fl-wrap">
                                    <div class="geodir-category-content-title-item">
                                        <h3 class="title-sin_map"><a href="listing-single.html">@place.ApartmentName</a><span class="verified-badge"><i class="fal fa-check"></i></span></h3>
                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>  @place.Address.AddressLine @place.Address.City</a></div>
                                    </div>
                                </div>
                                <div class="geodir-category-text fl-wrap">
                                    <p class="small-text">Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
                                    <div class="facilities-list fl-wrap">
                                        <div class="facilities-list-title">Facilities : </div>
                                        <ul class="no-list-style">
                                            <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi"><i class="fal fa-wifi"></i></li>
                                            <li class="tolt" data-microtip-position="top" data-tooltip="Parking"><i class="fal fa-parking"></i></li>
                                            <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms"><i class="fal fa-smoking-ban"></i></li>
                                            <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly"><i class="fal fa-dog-leashed"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="geodir-category-footer fl-wrap">
                                    <a class="listing-item-category-wrap">
                                        <div class="listing-item-category  yellow-bg"><i class="fal fa-bed"></i></div>
                                        <span>Hotels</span>
                                    </a>
                                    <div class="geodir-opt-list">
                                        <ul class="no-list-style">
                                            <li><a href="#" class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact Info</span></a></li>
                                            <li><a href="#" class="single-map-item" data-newlatitude="40.72228267" data-newlongitude="-73.99246214"><i class="fal fa-map-marker-alt"></i><span class="geodir-opt-tooltip">On the map <strong>4</strong></span></a></li>
                                            <li>
                                                <div class="dynamic-gal gdop-list-link" data-dynamicPath="[{'src': 'images/all/1.jpg'},{'src': 'images/all/1.jpg'}, {'src': 'images/all/1.jpg'}]"><i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="price-level geodir-category_price">
                                        <span class="price-level-item" data-pricerating="4"></span>
                                        <span class="price-name-tooltip">Ultra High</span>
                                    </div>
                                    <div class="geodir-category_contacts">
                                        <div class="close_gcc"><i class="fal fa-times-circle"></i></div>
                                        <ul class="no-list-style">
                                            <li><span><i class="fal fa-phone"></i> Call : </span><a href="#">+38099231212</a></li>
                                            <li><span><i class="fal fa-envelope"></i> Write : </span><a href="#">yourmail@domain.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- listing-item end -->
                </div>
                <!-- gallery-item  end-->
            }


        </div>
        <a href="listing.html" class="btn  dec_btn  color2-bg">Check Out All Listings<i class="fal fa-arrow-alt-right"></i></a>
    </div>
</section>
<!--section end-->


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amenities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bedroom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bathroom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CleanCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBooked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amenities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bathroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CleanCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlaceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlaceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlaceId })
            </td>
        </tr>
    }

</table>
