@model HomeSeek.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>

<div class="reg-overlay"></div>
<div class="main-register-holder tabs-act">
    <div class="main-register fl-wrap">
        <div class="main-register_title text-center">Upload Photo</div>
        <div class="tabs-container">
            <div class="tab">
                <h3>Associate your @ViewBag.LoginProvider account.</h3>

                @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <h4>Association Form</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="text-info">
                        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                        Please enter a user name for this site below and click the Register button to finish
                        logging in.
                    </p>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10r">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="submit" class="btn btn-info mb-2" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
