@model HomeSeek.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
    <div class="padding-pass">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()


            <div class="col-6">
                <div class="dashboard-title   fl-wrap">
                    <h3>Change Password</h3>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="profile-edit-container fl-wrap block_box">
                    <div class="custom-form">
                        <div class="pass-input-wrap fl-wrap">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "" })
                            <div class="">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "pass-input" })
                                <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                            </div>
                        </div>
                        <div class="pass-input-wrap fl-wrap">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "" })
                            <div class="">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "pass-input" })
                                <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                            </div>
                        </div>
                        <div class="pass-input-wrap fl-wrap">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                            <div class="">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "pass-input" })
                                <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                            </div>
                        </div>
                        <button type="submit" class="btn color2-bg float-btn">Save Changes<i class="fal fa-save"></i></button>
                    </div>
                </div>
            </div>

        }
    </div>
   
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
