@model HomeSeek.Entities.Place

@{
    ViewBag.Title = "Your Reservation";
}

<h2>Your Reservation</h2>
<h5>@Html.DisplayFor(model => model.ApartmentName)</h5>

<table class="table-bordered align-content-center col-12">
    <thead>
        <tr>
            <th>Pricing</th>
            <th>Check-in Date</th>
            <th>Check-out Date</th>
            <th>Days of Stay</th>
        </tr>

    </thead>

    <tbody>
        <tr>
            <td><span class="float-left font-weight-bold font-italic">Cleaning cost:</span><span>@ViewBag.CleanCost €</span></td>
            <td>@ViewBag.Checkin</td>
            <td>@ViewBag.Checkout</td>
            <td>@ViewBag.DaysOfStay</td>
        </tr>
        <tr class="position-relative">
        </tr>
        <tr class="position-relative">
            <td><span class="font-weight-bold float-left font-italic">Cost per night:</span><span>@ViewBag.PricePerDay € </span></td>
        </tr>
        <tr>
            <td class="font-weight-bolder"><span class="float-left mr-4">Total Cost:</span><span>@ViewBag.TotalPrice €</span></td>
        </tr>

    </tbody>
</table>
@*@Html.ActionLink("Proceed to Paypal", "PaymentWithPaypal", "Reservations", null, new { @class = "btn btn-primary" })*@
<div id="paypal-button-container"></div>

<script src="https://www.paypal.com/sdk/js?client-id=ARY71eJSX_meWn4A-ocvcOTr3BEJ43AVbwW3i6jNj4O0vDGpsTBkGNLKpLQqkDAqx9o0mTTWy0XX2ng9"></script>

<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: @ViewBag.TotalPrice
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
          window.location.replace("https://localhost:44328/Reservations/OnApprove");
      });
    }
  }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
</script>
