@model HomeSeek.Web.Models.Statistics
@{
    ViewBag.Title = "Show All Statistics";
}

<h2>ShowAllStatistics</h2>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TotalPlaces)</th>
            <th>@Html.DisplayNameFor(model => model.TotalReservations)</th>
            <th>@Html.DisplayNameFor(model => model.TotalCities)</th>
            <th>@Html.DisplayNameFor(model => model.TotalReviews)</th>
            <th>@Html.DisplayNameFor(model => model.TotalUsers)</th>
            <th>@Html.DisplayNameFor(model => model.AvgTotalDays)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.TotalPlaces</td>
            <td>@Model.TotalReservations</td>
            <td>@Model.TotalCities</td>
            <td>@Model.TotalReviews</td>
            <td>@Model.TotalUsers</td>
            <td>@Model.AvgTotalDays</td>
        </tr>
        
    </tbody>
</table>
    <h5>Reservations Per Month</h5>
<table class="table table-bordered">
    <thead>
        <tr>
            @foreach (var item in Model.ReservPerMonth)
            {
                <th>@Html.DisplayFor(x => item.Key)</th>
            }

        </tr>
    </thead>
    <tbody>

        <tr>

            @foreach (var item in Model.ReservPerMonth)
            {
                <td>@Html.DisplayFor(x => item.Value)</td>

            }

        </tr>
    </tbody>
</table>
